
body {
    background-color: #ecf0f1;
    color: #7f8c8d;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#wrapper {
    display: block;
    margin: auto;
    width: 1200px;
}

#main {
    text-align: center;
    margin-top: 25%;
    position: relative;
}

#main h1 {
    font-weight: normal;
    font-size: 40pt;
}

#prefix {
    display: inline-block !important;
    text-align: right;
    width: 380px;
}

#entry {
    font-size: 40pt;
    background-color: #fff;
    color: #3498db;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 560px;
    text-indent: 9px;
}

.inflight #entry {
    opacity: 0.5;
    color: #7f8c8d;
    border: 1px solid;
    -webkit-transition: opacity 0.1s linear, color 0.1s linear;
}

#spinner { display: none; }
.inflight #spinner { display: block; }

#suffix {
    display: inline-block;
    text-align: left;
    width: 100px;
}

#login {
    display: inline-block;
    text-align: left;
    width: 560px;
    position: relative;
    left: 140px;
    bottom: 23px;
    font-style: italic;
    word-break: break-all;
    hyphens: auto;
}

.fb-login-button {
    position: relative;
    top: -1px;
}

/* mock only */ #login > img {
    position: relative;
    top: 3px;
}

#login_name {
    font-weight: bold;
    margin-right: 5px;
}

#login_portrait {
    width: 16px;
    box-shadow: 0 0 4px #000;
    position: relative;
    top: 2px;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

.login_warning {
    color: red;
    font-weight: bold;
}

#history {
    margin-top: 100px;
    margin-bottom: 75px;
    text-align: center;
}

#history > h2 {
    display: inline-block;
    width: 585px;
    text-align: left;
    margin-bottom: 40px;
}

.post {
    display: inline-block;
    width: 585px;
    margin-bottom: 35px;
    text-align: left;
    color: #2c3e50;

    /* just to prevent them from stacking horizontally */
    margin-left: 100px;
    margin-right: 100px;
}

.post_text {
    float: left;
    max-width: 450px;
}

.post .meta {
    word-break: break-all;
    hyphens: auto;
}

.post .portrait {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.post .author {
    margin: 0;
    margin-top: 5px;
}

.post .content {
    font-size: 150%;
    text-indent: -7px;
    padding-left: 20px;
    margin: 0;
    margin-top: 10px;
}

.post .content:before { content: '\201C'; }
.post .content:after { content: '\201D'; }

.clearfix {
    clear: both;
    height: 0;
    margin: 0;
}